openapi: 3.2.0
info:
  title: IRIS Repository (DSpace REST API) Discover API
  description: Public DSpace 7 REST/HATEOAS API (IRIS version 1.3.13) serving the IRIS institutional research repository at the University of Lausanne (UNIL).
  version: 1.3.13
  contact:
    name: University of Lausanne - IRIS
    url: https://iris.unil.ch
  x-provenance:
    generated: '2026-09-01'
    method: probed
    source: Reconstructed by API Evangelist from live responses of https://api.unil.ch/iris/server/api on 2026-06-03 and re-probed 2026-09-01 (root, /core/communities, /core/collections, /discover/search/objects, /core/items 401, /core/bitstreams 401). Not published by the University of Lausanne. The software is DSpace-CRIS/IRIS; the deployment, host and content are UNIL's.
servers:
- url: https://api.unil.ch/iris/server/api
  description: Production DSpace REST server
tags:
- name: Discover
paths:
  /discover/search/objects:
    get:
      operationId: searchObjects
      summary: Search indexed objects
      description: DSpace Discovery search across everything indexed in IRIS. Confirmed anonymous read on 2026-09-01. Note that /core/items and /core/bitstreams both answer 401 to an anonymous client, so Discovery is the callable route to item-level metadata.
      parameters:
      - name: query
        in: query
        required: false
        description: Free-text Discovery query.
        schema:
          type: string
      - name: scope
        in: query
        required: false
        description: UUID of a community or collection to scope the search to.
        schema:
          type: string
          format: uuid
      - name: dsoType
        in: query
        required: false
        description: Restrict to an object type (item, collection, community).
        schema:
          type: string
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/size'
      responses:
        '200':
          description: A Discovery search response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
      tags:
      - Discover
components:
  schemas:
    SearchResult:
      type: object
      description: A DSpace Discovery search response. On 2026-09-01 the unscoped index reported 253,799 objects.
      properties:
        id:
          type:
          - string
          - 'null'
        scope:
          type:
          - string
          - 'null'
        query:
          type:
          - string
          - 'null'
        sort:
          type:
          - object
          - 'null'
          additionalProperties: true
        configuration:
          type:
          - string
          - 'null'
        type:
          type: string
          example: discover
        uniqueType:
          type: string
          example: discover.discover
        _embedded:
          type: object
          description: Carries searchResult, itself a HAL page of hit objects.
          additionalProperties: true
        _links:
          type: object
          additionalProperties: true
  parameters:
    page:
      name: page
      in: query
      required: false
      description: Zero-based page index.
      schema:
        type: integer
        default: 0
    size:
      name: size
      in: query
      required: false
      description: Number of elements per page.
      schema:
        type: integer
        default: 20
