openapi: 3.2.0
info:
  title: IRIS Repository (DSpace REST API) API
  description: Public DSpace 7 REST/HATEOAS API (IRIS version 1.3.13) serving the IRIS institutional research repository at the University of Lausanne (UNIL).
  version: 1.3.13
  contact:
    name: University of Lausanne - IRIS
    url: https://iris.unil.ch
  x-provenance:
    generated: '2026-09-01'
    method: probed
    source: Reconstructed by API Evangelist from live responses of https://api.unil.ch/iris/server/api on 2026-06-03 and re-probed 2026-09-01 (root, /core/communities, /core/collections, /discover/search/objects, /core/items 401, /core/bitstreams 401). Not published by the University of Lausanne. The software is DSpace-CRIS/IRIS; the deployment, host and content are UNIL's.
servers:
- url: https://api.unil.ch/iris/server/api
  description: Production DSpace REST server
tags:
- name: IRIS Repository (DSpace REST API)
paths:
  /:
    get:
      operationId: getApiRoot
      summary: API root
      description: Returns the DSpace REST root document with version metadata and the HAL hypermedia _links catalog of available resource endpoints.
      responses:
        '200':
          description: The API root document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiRoot'
      tags:
      - IRIS Repository (DSpace REST API)
components:
  schemas:
    ApiRoot:
      type: object
      description: DSpace REST root document.
      properties:
        dspaceUI:
          type: string
          example: https://iris.unil.ch
        dspaceName:
          type: string
        dspaceServer:
          type: string
          example: https://api.unil.ch/iris/server
        dspaceVersion:
          type: string
        crisVersion:
          type: string
        irisRole:
          type: string
          example: leader
        irisVersion:
          type: string
          example: 1.3.8
        type:
          type: string
          example: root
        _links:
          type: object
          additionalProperties: true
          description: HAL hypermedia links to available resource endpoints.
